body{
   margin:0;
    padding:0; 
    background: blue 100%;
}

.entete{
    background: black;
    color: white;
    height: 40px;
    width: 100% 100%;
    list-style: none;
    z-index: 1;
    position: absolute, fixed;
     margin:0;
    padding:0;
}

.liste{
    list-style: none;
    text-decoration: none;
}

.menu{
    height: 100px;
    background: grey;
    border-bottom: 2px solid silver;
    vertical-align: middle;
    z-index: 0;
}

.titre{
    font-size: 35px;
    padding-top: 20px;
    color: cornflowerblue;
}

.wallpaper{
   
    background:url("item1.jpg") no-repeat fixed center center /  100%; 
    
}

.bloc1{
    /*margin-top: -100px;*/
    
    background: white;
    width: 100% 100%;
    color: black;
    height: 500px;
    z-index: 0;
}

.texte_intro{
    margin-top: 20px;
    font-size: large;
}

.img_responsive{
    background:url("item1.jpg") no-repeat fixed center center /  100%; 
    width: 100% 100%;
}